h1 {
color: orange;
margin-left:550px;
}


body{
background-color:black;

}

.imagebox {
	margin-left:550px;
}


.text {
	margin-left:550px;
	color:white;
}
a:link {
	color:white;
}

a:visited {
	color:white;
}


th {
	color:orange;
}

td {
	color:orange;
}

h2 {
	color:orange;
}